<%- partial('_partial/head') %>
<body>
  <%- body %>
  <%- partial('_partial/disqus') %>
  <%- partial('_partial/duoshuo') %>
</body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.7/han.min.js"></script>
</html>
